<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ridding.mapper.RiddingActionMapper">

	<resultMap type="RiddingAction" id="riddingActionMap">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="riddingId" column="riddingId" />
		<result property="type" column="type" />
		<result property="createTime" column="createTime" />
		<result property="lastUpdateTime" column="lastUpdateTime" />
	</resultMap>
	<insert id="addRiddingAction" parameterType="RiddingAction">
		INSERT INTO TB_Ridding_Action(
		userId,
		riddingId,
		type,
		createTime,
		lastUpdateTime
		)VALUES(
		#{userId},
		#{riddingId},
		#{type},
		#{createTime},
		#{lastUpdateTime}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getRiddingActionByUserId" resultMap="riddingActionMap">
		SELECT * from
		TB_Ridding_Action where
		userId=#{userId} and riddingId=#{riddingId} and
		type=#{type}; 
	</select>

	<select id="getRiddingActionsByUserId" resultMap="riddingActionMap">
		SELECT * from
		TB_Ridding_Action where
		userId=#{userId} and riddingId=#{riddingId};
	</select>

	<delete id="deleteRiddingActionByRiddingId" parameterType="long"
		flushCache="true" statementType="PREPARED">
		delete from TB_Ridding_Action where 
		riddingId=#{riddingId};
	</delete>
</mapper>