<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ridding.mapper.IosApnsMapper">

	<resultMap type="Apns" id="apnsMap">
		<id property="userId" column="userId" />
		<result property="token" column="token" />
		<result property="createTime" column="createTime" />
		<result property="lastUpdateTime" column="lastUpdateTime" />
		<result property="status" column="status" />
		<result property="version" column="version" />
	</resultMap>

	<insert id="addApnsDevice" parameterType="Apns">
		INSERT INTO TB_IosApns(
		userId,
		token,
		createTime,
		lastUpdateTime,
		status,
		version
		)VALUES(
		#{userId},
		#{token},
		#{createTime},
		#{lastUpdateTime},
		#{status},
		#{version}
		)
	</insert>
	
	<update id="updateApns" parameterType="Apns" flushCache="true"
		statementType="PREPARED">
		update TB_IosApns set token = #{token},
		createTime = #{createTime},
		lastUpdateTime = #{lastUpdateTime},
		createTime = #{createTime},
		version = #{version}
		where userId = #{userId};
	</update>
	
	<select id="getApnsDevice" resultMap="apnsMap">
		SELECT * from
		TB_IosApns where
		userId=#{userId} ; 
	</select>
	
	<select id="getAllApnsDevice" resultMap="apnsMap">
		SELECT * from
		TB_IosApns  ; 
	</select>
	
	
</mapper>