<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ridding.mapper.PublicMapper">

	<resultMap type="Public" id="publicMap">
		<id property="id" column="id" />
		<result property="type" column="type" />
		<result property="json" column="json" />
		<result property="createTime" column="createTime" />
		<result property="lastUpdateTime" column="lastUpdateTime" />
		<result property="weight" column="weight" />
	</resultMap>
	<insert id="addPublic" parameterType="Public">
		INSERT INTO TB_Public(
		type,
		json,
		createTime,
		lastUpdateTime,
		weight
		)VALUES(
		#{type},
		#{json},
		#{createTime},
		#{lastUpdateTime},
		#{weight}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>


	<select id="getPublicListsByType" resultMap="publicMap">
		SELECT * from TB_Public where
		type = #{type}
		<if test="isLarger==1">
			and weight > #{weight} 
		</if>
		<if test="isLarger==0">
			and #{weight} > weight 
		</if>
		order by weight desc limit #{limit}
	</select>

	<select id="getPublicById" resultMap="publicMap">
		SELECT * from TB_Public
		where
		id= #{id}
	</select>

	<update id="updateJsonById" parameterType="Profile" flushCache="true"
		statementType="PREPARED">
		update TB_Public set json= #{json}
		where id = #{id};
	</update>
</mapper>