<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ridding.mapper.riddingGpsMapper">

	<resultMap type="RiddingGps" id="riddingGpsMap">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="riddingId" column="riddingId" />
		<result property="mapPoint" column="mapPoint" />
		<result property="distance" column="distance" />
		<result property="createTime" column="createTime" />

	</resultMap>


	<insert id="addRiddingGps" parameterType="RiddingGps">
		INSERT INTO TB_Ridding_GpsMap(
		userId,
		riddingId,
		mapPoint,
		distance,
		createTime
		)VALUES(
		#{userId},
		#{riddingId},
		#{mapPoint},
		#{distance},
		#{createTime}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<update id="updateRiddingGpsPoint" parameterType="long"
		flushCache="true" statementType="PREPARED">
		update TB_Ridding_GpsMap set mapPoint
		= #{mapPoint}
		where riddingId
		= #{riddingId} and userId = #{userId};
	</update>

	<select id="getRiddingGps" resultMap="riddingGpsMap">
		SELECT * from
		TB_Ridding_GpsMap where
		userId=#{userId} and riddingId = #{riddingId} ;
	</select>
</mapper>
