<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ridding.mapper.RiddingPictureMapper">

	<resultMap type="RiddingPicture" id="riddingPictureMap">
		<id property="id" column="id" />
		<result property="riddingId" column="riddingId" />
		<result property="photoUrl" column="photoUrl" />
		<result property="localName" column="localName" />
		<result property="userId" column="userId" />
		<result property="createTime" column="createTime" />
		<result property="lastUpdateTime" column="lastUpdateTime" />
		<result property="status" column="status" />
		<result property="latitude" column="latitude" />
		<result property="longtitude" column="longtitude" />
		<result property="description" column="description" />
		<result property="takePicDate" column="takePicDate" />
		<result property="takePicLocation" column="takePicLocation" />
		<result property="width" column="width" />
		<result property="height" column="height" />
	</resultMap>

	<insert id="addRiddingPicture" parameterType="RiddingPicture">
		INSERT INTO TB_Ridding_Picture(
		riddingId,
		photoUrl,
		localName,
		userId,
		createTime,
		lastUpdateTime,
		status,
		latitude,
		longtitude,
		description,
		takePicDate,
		takePicLocation,
		width,
		height
		)VALUES(
		#{riddingId},
		#{photoUrl},
		#{localName},
		#{userId},
		#{createTime},
		#{lastUpdateTime},
		#{status},
		#{latitude},
		#{longtitude},
		#{description},
		#{takePicDate},
		#{takePicLocation},
		#{width},
		#{height}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getRiddingPicturesByUserId" resultMap="riddingPictureMap"
		parameterType="hashMap">
		SELECT * from TB_Ridding_Picture where
		riddingId=#{riddingId}  and #{createTime} > createTime  order by
		createTime desc  limit #{limit};
	</select>

	<select id="getRiddingPicturesByRiddingId" resultMap="riddingPictureMap"
		parameterType="hashMap">
		SELECT * from TB_Ridding_Picture where
		riddingId=#{riddingId} order by
		createTime desc limit #{limit};
	</select>

</mapper>