<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ridding.mapper.UserRelationMapper">

	<resultMap type="UserRelation" id="userRelationMap">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="toUserId" column="toUserId" />
		<result property="createTime" column="createTime" />
		<result property="status" column="status" />
	</resultMap>

	<insert id="addUserRelation" parameterType="UserRelation">
		INSERT INTO
		TB_User_Relation(
		userId,
		toUserId,
		createTime,
		status
		)VALUES(
		#{userId},
		#{toUserId},
		#{createTime},
		#{status}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getUserRelations" resultMap="userRelationMap"
		parameterType="long">
		SELECT * from TB_User_Relation where
		userId = #{userId}
		and status =1 ;
	</select>

	<select id="getUserRelation" resultMap="userRelationMap"
		parameterType="hashMap">
		SELECT * from TB_User_Relation where
		userId = #{userId}
		and toUserId= #{toUserId} ;
	</select>

	<update id="updateUserRelation" parameterType="UserRelation"
		flushCache="true" statementType="PREPARED">
		update TB_User_Relation set
		status =
		#{status}
		where userId = #{userId} and toUserId = #{toUserId};
	</update>

	<delete id="deleteUserRelation" parameterType="hashMap">
		delete from
		TB_User_Relation
		where userId = #{userId} and toUserId = #{toUserId};
	</delete>

</mapper>
