<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="       
	  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd       
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd       
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd       
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd       
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<bean id="quartzFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- <ref bean="sinaWeiBoTrigger" /> <ref bean="sourceToGoogleUrlTrigger" 
					/> <ref bean="googleUrlToTapsTrigger" /> -->
				<!-- <ref bean="apnsTrigger"/> -->
				<ref bean="sendWeiBoTrigger" />
				<ref bean="repostWeiBoTrigger" />
			    <ref bean="getRiddingSinaWeiBoTrigger" />
				<ref bean="sendWeiBoCommentTrigger" />
			</list>
		</property>
		<property name="startupDelay" value="0" />
		<property name="taskExecutor">
			<bean id="taskExecutor"
				class="org.springframework.scheduling.quartz.SimpleThreadPoolTaskExecutor">
				<property name="threadCount" value="100" />
			</bean>
		</property>
	</bean>
	<!-- 从新浪微博取数据 -->
	<bean id="sinaWeiBoDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="sinaWeiBoService" />
		</property>
		<property name="targetMethod">
			<value>getAtMeSinaWeiBoQuartz</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="sinaWeiBoTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="sinaWeiBoDetail" />
		</property>
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean>
	<!-- 将sina微博数据取出googleurl -->
	<bean id="sourceToGoogleUrlDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="sourceService" />
		</property>
		<property name="targetMethod">
			<value>getIMapListFromSourceQuartz</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="sourceToGoogleUrlTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="sourceToGoogleUrlDetail" />
		</property>
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean>
	<!-- 将google url转为标点 -->
	<bean id="googleUrlToTapsDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="mapService" />
		</property>
		<property name="targetMethod">
			<value>getMapToLocationQuartz</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="googleUrlToTapsTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="googleUrlToTapsDetail" />
		</property>
		<property name="cronExpression" value="0 0/1 * * * ?" />
	</bean>
	<!-- 消息推送任务 -->
	<!-- 将google url转为标点 <bean id="apnsDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject"> <ref bean="iosApnsService" /> </property> 
		<property name="targetMethod"> <value>quartz</value> </property> <property 
		name="concurrent"> <value>false</value> </property> </bean> <bean id="apnsTrigger" 
		class="org.springframework.scheduling.quartz.CronTriggerBean"> <property 
		name="jobDetail"> <ref bean="apnsDetail" /> </property> <property name="cronExpression" 
		value="0 0/1 * * * ?" /> </bean> -->
	<!-- 定时发送微博 -->
	<bean id="sendWeiBoDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="sinaWeiBoService" />
		</property>
		<property name="targetMethod">
			<value>sendWeiBoQuartz</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="sendWeiBoTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="sendWeiBoDetail" />
		</property>
		<property name="cronExpression" value="0 0/10 * * * ?" />
	</bean>
	<!-- 定时将转发的地图微博生成活动 -->
	<bean id="repostWeiBoDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="sinaWeiBoService" />
		</property>
		<property name="targetMethod">
			<value>genMapFromMapWeiBoQuartz</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="repostWeiBoTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="repostWeiBoDetail" />
		</property>
		<property name="cronExpression" value="0 0/5 * * * ?" />
	</bean>
	<!-- 定时获取有"骑行"字符的新浪微博 -->
	<bean id="getRiddingSinaWeiBoDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="sinaWeiBoService" />
		</property>
		<property name="targetMethod">
			<value>getRiddingSinaWeiBoQuartz</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="getRiddingSinaWeiBoTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="getRiddingSinaWeiBoDetail" />
		</property>
		<property name="cronExpression" value="0 0 3 * * ?" />
	</bean>
	<!-- 定时发送需要推送的微博 -->
	<bean id="sendWeiBoCommentDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="sinaWeiBoService" />
		</property>
		<property name="targetMethod">
			<value>sendWeiBoCommentQuartz</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="sendWeiBoCommentTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="sendWeiBoCommentDetail" />
		</property>
		<property name="cronExpression" value="0 0 10 ? * *" />
	</bean>
</beans>